	<style>
		.col-xs-12 {
			height: 100px;
			background-color: blue;
			color: white;
			text-align: center;
		}
			.col-xs-6 {
			height: 300px;
			background: recycling_bins1.jpg;
			color: red;
			text-align: center;
			border: solid black;
		}
			.col-xs-4 {
			height: 300px;
			color: #363636;
			text-align: left;
		} 
			.col-xs-8 {
			height: 300px;
		}
	</style>

 	<div class="row">
	 	<div class="col-xs-4">
	 		<h3>Save 20-40% on Recycling Costs</h3>
	 		<p>Join RoadRunner today and start saving tomorrow. More importantly, know that you're on the verge of something big.</p>
	 	</div>

	 	<div class="col-xs-8">
	 				<%= link_to image_tag("recycling-clouds-rr.jpg", class: "img-responsive", alt: "recycling clouds") %>
	 	</div>

 	</div>

 	<div class="row">

 		<div class="col-xs-12">
 		col-xs-12
 		</div>

 		<div class="col-xs-12">
 		col-xs-12
 		</div>

 		<div class="col-xs-12">
 		col-xs-12
 		</div>

 	</div>

 </div>